<mat-card>
  <mat-card-content>

    <div *ngIf="anomalias$ | async as anomalias; else loading">

      <table mat-table [dataSource]="anomalias$" class="mat-elevation-z8 demo-table">
        <caption>
          <mat-toolbar color="primary">Cadastro de Anomalias</mat-toolbar>
        </caption>

        <!-- Position Column -->
        <ng-container matColumnDef="_id">
          <th mat-header-cell *matHeaderCellDef>_Id</th>
          <td mat-cell *matCellDef="let element">{{ element._id }}</td>
        </ng-container>

        <!-- Equipamemento Colum -->
        <ng-container matColumnDef="equipamento">
          <th mat-header-cell *matHeaderCellDef>Equipamento</th>
          <td mat-cell *matCellDef="let element">{{ element.equipamento }}</td>
        </ng-container>

        <!-- Falha Column -->
        <ng-container matColumnDef="falha">
          <th mat-header-cell *matHeaderCellDef>Falha</th>
          <td mat-cell *matCellDef="let element">{{ element.falha }}</td>

        </ng-container>

         <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>
            <button (click)="openDialog()" mat-mini-fab color="accent" aria-label="Botão de adicionar anomalia">
              <mat-icon>add</mat-icon>
            </button>
          </mat-header-cell>

          <mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" aria-label="Editar Anomalias">
              <mat-icon >edit</mat-icon>
            </button>

            <button mat-icon-button color="warn" aria-label="Editar Anomalias">
              <mat-icon >delete</mat-icon>
            </button>

          </mat-cell>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>

    <ng-template #loading>
      <div class="loading-spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </mat-card-content>
</mat-card>
