.mat-column-_id,
.mat-column-equipamento,
.mat-column-falha,
.mat-column-actions {
  flex: 0 0 32px;
  border-right: 1px solid currentColor;
  text-align: center;
}
table {
  flex: 100%;
}

.loading-spinner{
  background-color: #009e9d ;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
